.login-Card{
    align-items: center;
    background-color: aliceblue;
    border-radius: 20px;
    height: 300px;
}

.login-header{
    text-align: center;
}

.login-inputs{
    margin: 10px;
    display: block; 
    align-items: center;
    padding-right: 10px;
}

.login-inputs input{
    background-color: transparent;
    border-color: #088df9;
    border-radius: 18px;
    height: 36px;
    margin: 20px;
    align-items: center;
    font-size: 18px;
    padding: 6px 10px;
    color: black;
} 

.login-inputs input:hover{
    border-color: aquamarine;
    transition: ease-in;
    transition-duration: 0.6s;
}

.ln-Clave{
    position: relative;
    padding-left: 15px;
    padding-right: 18px;
}
.ln-Usuario{
    position: relative;
    padding-right: 12px;
}

.login-boton{
    margin-left: 12px;
    border: 0;
    border-radius: 900px;
    padding: 6px 16px;
    font-weight: bold;
    position: relative;
    left: 110px;
    background-color: #088df9;   
}
